<h1>Objects to Tables</h1>

<table>
  <tr>
    {{#each keys}}
    <th>
      {{this}}
    </th>
    {{/each}}
  </tr>
  {{#each data}}
  <tr>
    <td>
      <a href="#">{{first_name}}</a>
    </td>
    <td>
      {{last_name}}
    </td>
    <td>
      {{date_of_birth}}
    </td>
  </tr>
  {{/each}}
</table>
